/* static/update_student.css*/

body {
    font-family: 'Arial', sans-serif;
    /* background-color: #f18973; */
    background: linear-gradient(0deg, #3498db, #8e44ad);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.input-container {
    margin-bottom: 16px;
}

input,
select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('https://img.icons8.com/material-outlined/24/000000/expand-arrow.png') no-repeat right #fff;
    background-position: calc(100% - 12px) center;
    cursor: pointer;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

span {
    color: red;
}


