<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <link rel="stylesheet" href="/static/thanks.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
</head>
<body>
    <div class="container flex">

        <div class="card">
            <!-- <button type="button" class="dismiss">×</button> -->
            <div class="header">
                <div class="image">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <g stroke-width="0" id="SVGRepo_bgCarrier"></g>
                        <g stroke-linejoin="round" stroke-linecap="round" id="SVGRepo_tracerCarrier"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#000000"
                                d="M20 7L9.00004 18L3.99994 13"></path>
                        </g>
                    </svg>
                </div>
                <div class="content">
                    <span class="title">{{message}}.</span>
                    <p class="message">Thankyou! Your data is submitted and saved securely in our database.</p>
                </div>
                <div class="actions">
                    <!-- <button type="button" class="history">History</button> -->
                    <!-- <button type="button" class="track">Track my package</button> -->
                    <a class="thanks_btn" href="{% url 'index' %}" >Home</a>
                </div>
            </div>
        </div>
    
    </div>
</body>
</html>